@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "National Park", sans-serif;
}

ul {
    list-style: none;
}

/*navbar*/
.main {
    background: black;
    color: #fff;
    padding: 0 20px;
}

.navContainer {
    max-width: 1100px;
    margin: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

ul {
    display: flex;
}

ul li a {
    margin: 20px;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in all;
}

ul li a:hover {
    background: blueviolet;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

/* doc */
.doc {
    padding: 50px 20px 0;
}

.doc h1 {
    text-align: center;
    margin: 60px 0;
}

.docContainer {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.docContainer div {
    background: antiquewhite;
    padding: 20px;
    color: #423d3d;
    border-radius: 10px;
    transition: 0.3s ease-in all;
}


.docContainer div:hover {
    box-shadow: 10px 5px 5px #ff6f00;
}

.docContainer a {
    text-decoration: none;
    cursor: pointer;
    color: #423d3d;
}


@media (max-width: 654px) {
    .docContainer {
        grid-template-columns: 1fr;
    }

    .navbar {
        flex-direction: column;
    }

    ul li a {
        margin: 10px;
        padding: 10px;
    }

}